.Home .notes h1, h2 {
  font-family: 'Acme', sans-serif;
}
.Home .notes h4 {
  font-family: 'Crimson Text', serif;
  font-size: x-large;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .notes p {
  color: #666;
}
.Home .notes .listGroupItem {
  background: repeating-linear-gradient(
    0,
    #423E37,
    #E1FCDF 1px,
    #E1FCDF 45px,
    #E1FCDF 45px
  );
}