.App {
  margin-top: 15px;
  padding-bottom: 75px;
}

.App .navbar-brand {
  font-family: 'Trade Winds', cursive;
  font-size: xx-large;
  font-weight: bold;
}

#AppContainer {
  padding-bottom: 250px;
}