.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-family: 'Trade Winds', cursive;
  font-size: xx-large;
  font-weight: bold;
}

#AppContainer {
  padding-bottom: 90vh;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  width: 100vw;
}